@font-face {
    font-family: 'Oakes Grotesk Text';
    src: url('../../public/font/Oakes-Grotesk-SemiBold.ttf') ;
    font-weight: 600;
}

@font-face {
    font-family: 'Oakes Grotesk Text';
    src: url('../../public/font/Oakes-Grotesk-Regular.ttf') ;
    font-weight: 400;
}

@font-face {
    font-family: 'Oakes Grotesk Text';
    src: url('../../public/font/Oakes-Grotesk-Medium.ttf') ;
    font-weight: 500;
}