//front size 
$font-size-dislay: 8rem;
$font-size-heading1: 7.2rem;
$font-size-heading2: 6.4rem;
$font-size-heading3: 5.6rem;
$font-size-heading4: 4.8rem;
$font-size-heading5: 3.2rem;
$font-size-heading6:2.8rem;
$font-size-heading7: 2.4rem;

//line-height
$line-height1: 1;
$line-height2: 1.1;
$line-height3: 1.2;
$line-height4: 1.4;
$line-height5: 1.08;
$line-height6: auto;

